.darkModeButton div {
  position: relative;
  transition: all 0.4s;
}
.darkModeButton.active div {
  transform: translateX(43px);
}
.darkModeButton div .darkModeIcon{
  display: none;
}
.darkModeButton.active div .darkModeIcon {
  display: block;
}
.darkModeButton.active div .lightModeIcon {
  display: none;
}
.searchIcon {
  fill: white;
}
html.dark .searchIcon {
  fill: #5C426C;
}
.contentButton.selected p {
  color: #E1917E;
}
.contentButton div {
  width: 105px;
  height: 8px;
  border-radius: 8px;
  background-color: transparent;
}
.contentButton.selected div {
  background-color: #E1917E;
}
.addButton {
  box-shadow: 0px 4px 31px 10px rgba(0, 0, 0, 0.25);
}
.searchInputGroup {
  box-shadow: 0px 4px 43px rgba(0, 0, 0, 0.2);
}
.noteContent {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical; 
}
.noteTextArea {
  height: calc(100vh - 200px);
}
.cover {
  object-fit: cover;
}

.loadingCircle {
  animation: bounce 1s ease-in-out infinite;
}
.loadingCircle:nth-of-type(2) {
  animation-delay: 0.1s;
}
@keyframes bounce {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
.expandIcon {
  transition: all 0.4s;
}
.expandIcon.expanded {
  transform: rotateZ(180deg);
}
.colorCircleContainer::-webkit-scrollbar {
  display: none;
}
.optionsContainer {
  transition: all 0.4s;
}
.optionsContainer.expanded {
  transform: translateY(-110px);
}
.closeNoteOptions {
  background-color: rgba(0, 0, 0, 0.9);
}
.dongle {
  background-color: rgba(50, 53, 60, 0.7)
}
.noteOptionsContainer {
  transition: all 0.3s ease-in-out;
}
.noteOptionsContainer.invisible {
  transform: translateY(230px);
}
.closeNoteOptions{
  transition: all 0.3s ease-in-out;
}
.closeNoteOptions.invisible {
  opacity: 0;
}
