.darkModeButton div {
  position: relative;
  transition: all 0.4s;
}
.darkModeButton.active div {
  transform: translateX(43px);
}
.darkModeButton div .darkModeIcon{
  display: none;
}
.darkModeButton.active div .darkModeIcon {
  display: block;
}
.darkModeButton.active div .lightModeIcon {
  display: none;
}
.searchIcon {
  fill: white;
}
html.dark .searchIcon {
  fill: #5C426C;
}
.contentButton.selected p {
  color: #E1917E;
}
.contentButton div {
  width: 105px;
  height: 8px;
  border-radius: 8px;
  background-color: transparent;
}
.contentButton.selected div {
  background-color: #E1917E;
}
