.darkModeButton div {
  position: relative;
  transition: all 0.4s;
}
.darkModeButton.active div {
  transform: translateX(43px);
}
.darkModeButton div .darkModeIcon{
  display: none;
}
.darkModeButton.active div .darkModeIcon {
  display: block;
}
.darkModeButton.active div .lightModeIcon {
  display: none;
}
